<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-8 text-center" style="padding-top:40px; padding-bottom:40px;">
        <h6 class="heading7">RESERVED AREA</h6>
        <ul class="footer-ul">
          <li><%= link_to 'Signup as forwarder', new_forwarder_registration_path %></li>
          <% if forwarder_signed_in? %>
            <li><%= link_to "Logout", destroy_forwarder_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login as Forwarder', new_forwarder_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- end row -->
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12 text-center" style="padding-top:10px;">
      <p>© 2018 - All Rights Cosmin Fane Cozma</p>
    </div>
  </div>
</div>